@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container-fluid body-content text-center py-5 bg-light">
    
        <div class="col-md-5 p-lg-3 mx-auto">
            <h1 class="display-4 font-weight-normal">Finally, a Git repo you can truely have.</h1>
            <p class="lead font-weight-normal my-4">Code, Share, Evolve</p>
            <a class="btn btn-outline-secondary my4" href="#">Coming soon</a>
    </div>
</div>