body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* CSS used here will be applied after bootstrap.css */

a {
    color: #0366d6;
}


.nav-tabs {
    margin: 0;
}

body > nav.navbar {
    background-color: #24292e;
}


.nav-tabs > .nav-item > .active, .nav-tabs > .nav-item > .active:hover, .nav-tabs > .nav-item > .active:focus {
    border-top-width: 3px;
    border-top-color: #d45500;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

div > .input-group-sm > .input-group-prepend > .input-group-text {
    border-color: black;
}

.nav-item > .nav-link > .badge {
    background-color: rgb(228, 225, 225);
}

.card-repo-header {
    background-color: #f2f7ff;
    font-size: small;
}

.card-readme-header {
    font-weight: 600;
    font-size: 14px;
}

.dropdown-branch-list {
    overflow: auto;
    width: 300px;
    max-height: 350px;
    font-size: 12px;
}

.branch-name-span {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.repo-file-dir-entry, .repo-file-dir-entry:hover {
    font-size: 14px;
}

.repo-file-dir-entry:hover {
    background-color: #f7f7f7
}


.file-info-divider {
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
    background-color: #ddd;
}

div > pre > .code-block {
    font-size: 13px;
    background-color: white;
}

tr > td.hljs-ln-numbers {
    padding-right: 10px;
    color: rgba(27,31,35,0.3);
    cursor: pointer;
}

    tr > td.hljs-ln-numbers:hover {
        color: rgba(27,31,35,0.6);
    }

tr > td.hljs-ln-code {
    padding-left: 10px;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}


/* if the changes did not apply, try clear the cache*/