body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* CSS used here will be applied after bootstrap.css */

a {
    color: #0366d6;
}


.nav-tabs {
    margin: 0;
}

body > nav.navbar {
    background-color: #24292e;
}


nav > .nav-tabs > .nav-item > .active, nav > .nav-tabs > .nav-item > .active:hover, nav > .nav-tabs > .nav-item > .active:focus {
    border-top-width: 3px;
    border-top-color: #d45500;
    border-left-color: #dee2e6;
    border-right-color: #dee2e6;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border-color: transparent;
}

div > .input-group-sm > .input-group-prepend > .input-group-text {
    border-color: black;
}

.nav-item > .nav-link > .badge {
    background-color: rgb(228, 225, 225);
}

.card-repo-header {
    background-color: #f2f7ff;
    font-size: small;
}

.card-readme-header {
    font-weight: 600;
    font-size: 14px;
}

.dropdown-branch-list {
    overflow: auto;
    width: 300px;
    max-height: 350px;
    font-size: 12px;
}

.branch-name-span {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}

.repo-file-dir-entry, .repo-file-dir-entry:hover {
    font-size: 14px;
}

.repo-file-dir-entry:hover {
    background-color: #f7f7f7
}


.file-info-divider {
    display: inline-block;
    width: 1px;
    height: 18px;
    margin-right: 3px;
    margin-left: 3px;
    vertical-align: middle;
    background-color: #ddd;
}

div > pre > .code-block {
    font-size: 13px;
    background-color: white;
}

tr > td.hljs-ln-numbers {
    padding-right: 10px;
    color: rgba(27,31,35,0.3);
    cursor: pointer;
}

    tr > td.hljs-ln-numbers:hover {
        color: rgba(27,31,35,0.6);
    }

tr > td.hljs-ln-code {
    padding-left: 10px;
}

.dropdown-menu:before {
    position: absolute;
    top: -7px;
    right: 9px;
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
}

.dropdown-menu:after {
    position: absolute;
    top: -6px;
    right: 10px;
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    border-left: 6px solid transparent;
    content: '';
}


div.editor-div {
    height: 600px;
}

.row .col .editor-div .ace_gutter {
    background: #fff;
}

ol.edit-page-breadcrumb {
    font-size: 18px;
}

.clipboard-btn {
    background-color: #eff3f6;
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    border: 1px solid rgba(27,31,35,0.2);
}

li.edit-page-nav-item > .nav-link.active, li.edit-page-nav-item > .nav-link.active:hover {
    border-radius: 0;
    border-right-color: #d1d5da;
    border-left-color: #d1d5da;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

div.d2h-file-wrapper {
    border-color: transparent;
}

div.d2h-file-header {
    border-color: transparent;
    background-color: #fff;
}

.d2h-file-name {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 500;
}

span.d2h-tag {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.input-contrast {
    background-color: #fafbfc;
    box-shadow: inset 0 1px 2px rgba(27,31,35,0.075);
}

.form-textarea {
    height: 120px;
    min-height: 100px;
}

.branch-name {
    display: inline-block;
    padding: 2px 6px;
    font: 12px "SFMono-Regular",Consolas,"Liberation Mono",Menlo,Courier,monospace;
    color: rgba(27,31,35,0.6);
    background-color: #eaf5ff;
    border-radius: 3px;
}

.img-input {
    text-indent: 15px;
    background-image: url(../images/octicons/git-branch.svg);
    background-repeat: no-repeat;
    background-position: 10px 10px;
}

/* if the changes did not apply, try clear the cache*/